{% extends 'layout.html' %}


{% block content %}
    <table>
        <tbody>
    {% for post in posts %}
        <tr>
            {% if site.post_limit and loop.index > site.post_limit %}{% break %}{% endif %}
            <td><a class="linktitle" href="{{ get_url(post.url) }}">{{ post.title }}</a></td>
        </tr>
    {% endfor %}
</tbody>
    </table>
    
    {% if site.post_limit and posts|length > site.post_limit %}
        <div class="pagination">
            <p><a href="{{ get_url('archives/') }}">Read Older Posts</a></p>
        </div>
    {% endif %}
{% endblock %}

