<!DOCTYPE html>

<html en="en">
<head>
    {% include 'page.header.html' %}
    
    <title>
         {{ site.subtitle }}
    </title>
</head>

<body>
        <div class="row-fluid">
            <div  class="span12">
                {% include 'page.nav.html' %}
                 <div id=site-titles">
                   <h1 id="title">
                    <span class="title-flair">//</span>{{ site.title }}
                </h1>
                <h2 id="subtitle">"{{ site.subtitle }}"</h2> 
                </div>
            </div>

            <div class="span6">
            </div>
                
        </div>

        <div id="content" class="row-fluid">
            <div  class="span12">
            {% block content %}{% endblock %}
            </div>
        </div>
        
        <footer>
        &copy; {{ none|date('%Y') }} {{ site.author }}
        <a href="{{ get_url('feed.xml') }}"> Feed</a>
        </footer>

</body>
</html>
