<ul class="nav nav-tabs">
            <li><a href="{{ get_url() }}">Blog</a></li>
            <!-- <li><a href="{{ get_url('archives/') }}">Archives</a></li> -->
            <li><a href="{{ get_url('about.html') }}">About</a></li>
        
        {% if site.social.values()|sort(true)|first %}
            {% if site.social.facebook %}
            <li><a href="https://www.facebook.com/{{ site.social.facebook }}">
                <img src="{{ get_asset('images/social/facebook.png') }}" width="16" height="16" alt="Facebook"></a></li>{% endif %}
            {% if site.social.github %}
            <li><a href="https://github.com/{{ site.social.github }}">
                <img src="{{ get_asset('images/social/github.png') }}" width="16" height="16" alt="GitHub"></a></li>{% endif %}
        {% endif %}
        </ul>

