{% extends 'layout.html' %}


{% set title = 'Tag  &rsaquo; ' ~ tag.name %}

{% block content %}
    
<table class="table table-striped table-condensed">
        <thead>
            <tr>
              <th class="post-date">Date</th>
              <th>Title</th>
              <th>Tags <a href="{{ get_url() }}">All</a></th>
            </tr>
          </thead>
        <tbody>

            {% for post in tag.posts %}
            <tr>
                {% if site.post_limit and loop.index > site.post_limit %}{% break %}{% endif %}
                <td class="post-date">{{ post.timestamp|date('%d %b') }}</td>
                <td class="post-title"><a  href="{{ get_url(post.url) }}">{{ post.title }}</a></td>
                <td class="post-tag">
                    {% for tag in post.tags %}
                        <a href="{{ get_url(tags[tag].url) }}">{{ tag }}</a>
                        {% if not loop.last %}, {% endif %}
                        {% endfor %}
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    

{% endblock %}
