/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
        font-family :'PT Sans', sans-serif;
		
	}
    p { padding-top:5px;
        padding-bottom:5px;
    }

/* Navigation styles */
    a:link {
        color:#0066CC;  
        text-decoration:none;
    }
    a:visited {
        color:#0066CC;  
        text-decoration:none;
    }     
    a:hover {
        color:#CC0066;  
        text-decoration:none;
    }
    a:active {
        color:#0066CC;  
        text-decoration:none;
    }
            
    ul#nav {
        margin-bottom:10px;
        list-style:none;
        font-size:1.5em;
    }

    ul#nav li{
        clear:right;
        padding-right:5px;
    }

    ul#social {
        padding:0;
        margin:0;
        list-style:none;
        clear:both;
    }

    ul#social li{
        display:inline;
        padding-right:5px;
    }


/* title */
    h1#title a{
        color: #003366;
        font-size:2em;
        float:right;
        clear:both;
    }

    h2#subtitle {
        font-size:.7em;
        float:right;
        clear:both;
        display:inline;
   }


/* Index Table */
    table{
    border-collapse:collapse;
    width:100%;
    }
    tbody tr td{
    border: 1px solid #003366;
    border-collapse:collapse;
    padding-top:5px;
    padding-bottom:5px;
    }

     a.linktitle:link {
         font-weight:bold;
        color:#003366;
        padding:10px;
    }

    a.linktitle:visited {
    }
    a.linktitle:hover {
    }
    a.linktitle:active {
    }

    tr:nth-of-type(odd) {
      background-color:#ccc;
    }


    #content{
        clear:both;
    }

    div.header h1 {
        color: #04819E;
    }
    div.header  a {
        color: #04819E;
    }

/* Tag styles */
    a.tags:link {
        color:#7E7E7E;
    }
    a.tags:visited {
        color:#7E7E7E;
     }
    a.tags:hover {
        color:#7E7E7E;
     }
    a.tags:active {
        color:#7E7E7E;
     }

/***********************/

    
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

  
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 
 
    ul#nav {
        margin-bottom:10px;
        float:left;
        width:100%;
        list-style:none;
        font-size:1.0em;
        clear:both;
    }

    ul#nav li{
        padding-bottom:5px;
        display:inline;
    }

    ul#social {
        padding:0;
        margin:0;
        list-style:none;
        float:left;
        width:100%;
    }

    ul#social li{
        display:inline;
        padding-right:5px;
    }

/* title */
    h1#title a{
        color: #003366;
        font-size:1.5em;
        text-align:center;
        clear:both;
        padding-bottom:10px;
        padding-top:10px;
    }

    h2#subtitle {
        font-size:.5em;
        text-align:center;
        display:inline;
   }
  


}
