/* Basic Layout Properties for desktop version
 ***************************************************/
	body {
      /*  font-family :'PT Sans', sans-serif; */
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
#content {
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

/* title
 * **************************************************/
#title {
    padding-right:2px;
    margin-top:10px;
    text-align:center;
    color: #003366;
    font-size:4em;
    float:right;
}

#subtitle {
    padding-right:2px;
    font-size:.7em;
    text-align:center;
    float:right;
    clear:right;
}

/* Front page
***************************************************/
#content table {
    margin-left: auto;
    margin-right: auto;
    width:50%;
    text-align:center;
}

#content td {
}

td.post-title {
    text-align:left;
}
td.post-date {
    text-align: right;
}
th.post-date {
    text-align: right;
}
/* Footer
***************************************************/
footer {
    text-align:center;
}


/* post and content
***************************************************/
div.main-content p {
    width:75%;
}

aside {
left: 80%;
font-size:.9em;
position: absolute;
}


.to-continue {
    font-weight:bold;
    font-size:1.5em;
}

.link-post{
    display:block;
    height:100%;
    line-height:100%;
}

/* found, saved, and extra styles */

/* Special grid styles
-------------------------------------------------- */
.show-grid [class*="span"] {
  background-color: #eee;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}


.show-grid p   {
  max-width:80%;
  display: inherit;
  text-indent: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
#content.show-grid  p {
    display: none;
}
    
#content.show-grid > p ~ p   {
    display:inherit;
}

.show-grid .show-grid [class*="span"] {
  background-color: #ccc;
}

blockquote span {
    font-size:2em;
    font-weight:bold;
}




